ytd-sentiment-bar-renderer, ytd-comments {
    display: none !important;
}

#top-level-buttons > ytd-toggle-button-renderer:first-child >
 a > yt-formatted-string{
    display: none;
}

#top-level-buttons > ytd-toggle-button-renderer:nth-child(2) >
 a > yt-formatted-string{
    display: none;
}